.news {
  width: 160px
}

.news-scroll a {
  text-decoration: none
}

.dot {
  height: 6px;
  width: 6px;
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 2px !important;
  background-color: #0B2C3D;
  border-radius: 50%;
  display: inline-block
}